
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1555066931-bf19f8fd1085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
  background-repeat: no-repeat;
   background-position: 60% 50%;
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.calculator {
  background-color: rgba(230, 225, 220, 0.7);
  width: 500px;
  max-width: 500px;
  border-radius:12px ;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
  -webkit-border-radius:12px ;
  -moz-border-radius:12px ;
  -ms-border-radius:12px ;
  -o-border-radius:12px ;
}
.calculator-display {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: auto;
}

 ::-webkit-scrollbar {
  width: 3px;
} 
::-webkit-scrollbar-track {
  background: dodgerblue;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background:gray;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
::-webkit-slider-thumb:hover {
  background: grey;
}
/* buttons */
.calculator-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 4px;
}
button {
   min-height: 50px;
   font-size: 20px;
   font-weight: 100;
   border: none;
   border-radius:7px ;
   cursor: pointer;
   background: rgb(194, 194, 194);
   outline: none;
   -webkit-border-radius:7px ;
   -moz-border-radius:7px ;
   -ms-border-radius:7px ;
   -o-border-radius:7px ;
}
button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
button:active{
  transform: translateY(1.5px);
  -webkit-transform: translateY(1.5px);
  -moz-transform: translateY(1.5px);
  -ms-transform: translateY(1.5px);
  -o-transform: translateY(1.5px);
}
button:focus{
  outline: none;
}
.operator {
  background: gray;
  color: aliceblue;
  font-size: 30px;
}
.clear {
  background: rgb(238, 41, 41);
  color: aliceblue;
}
.clear:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}
.equal-sign{
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(70, 199, 92);
}

@media screen and (max-width:600px) {
  .calculator {
    width: 95%;
  }
}
